:root{
    --background-dark: #222025;
    --background-med: #373546;
    --background-med-faded: rgba(71, 68, 89, 0.58);
    --background-high: #484557;

    --cursor-color: #a592c4;

    --text-block: #7c67d9;
    --text-block-high: #ebb3ff;
    --text-minor: #9b8eb6;
    --text-paragraph: #cbc1ea;

    --input-selected: #695d9d;
    --input-border: #afa1e8;

    --github-mask-high: #aa62c2;
}

body{
    background: var(--background-dark);
}

.center {
    display: block;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
}
.bottom{
    margin-top: 100%;
    position: absolute;
    align-self: flex-end;
}

.center-text{
    text-align: center;
    width: 100%;
}
.left-text{
    text-align: left;
}
.right-text{
    text-align: right;
}


.grid-container {
    display: grid;
    gap: 50px 50px;
    align-content: center;
    grid-template-columns: 1fr 1fr;
}
.grid-item{
    background: var(--background-med);
    width: 33vmin;
    height: 33vmin;
    padding: 20px;
    border-radius: 10px;
    display:flex;
    overflow: hidden;
    position: relative;
}


.block-text{
    color: var(--text-block);
    font-family: "Redex Pro", sans-serif;
    font-weight: 900;
    font-size: xxx-large;
    margin:0;
}
.block-text-xl{
    color: var(--text-block);
    font-family: "Redex Pro", sans-serif;
    font-weight: 900;
    font-size: 5em;
    margin:0;
}
.minor-text{
    color: var(--text-minor);
    font-family: "Redex Pro", sans-serif;
    font-weight: 70;
    font-size: 0.9em;
}

.paragraph-text{
    color: var(--text-paragraph);
    font-family: "Redex Pro", sans-serif;
    font-weight: 175;
    font-size: 1em;
}

input[type=text]{
    background-color:var(--background-high);
    color:var(--text-paragraph);
    border: none;
    box-sizing: border-box;
    border-radius: 100px;
    padding: 2%;
    width: 100%;
    margin-top: 10px;
    transition:0.3s
}
input[type=text]:hover{
    margin-top: 15px;
    margin-bottom: 5px;
    padding:3%;
    color:var(--background-dark);
    background-color: var(--input-selected);
}
input[type=text]:focus{
    border: 3px solid var(--input-border);
    outline: none;
}

button{
    background-color:var(--background-high);
    color:var(--text-paragraph);
    font-family: "Redex Pro", sans-serif;
    font-weight: 500;
    font-size: large;
    width:50%;
    border: none;
    box-sizing: border-box;
    border-radius: 100px;
    padding: 2%;
    margin-top: 10px;
    transition:0.3s
}
button:hover{
    color:var(--background-med);
    font-weight: 650;
    font-size: x-large;
    background-color: var(--input-selected);
}
button:focus{
    border: 3px solid var(--input-border);
    outline: none;
}