#login-pane{
    background: var(--background-med);
    width: 50vmin;
    height: 75vmin;
    padding: 20px;
    border-radius: 10px;
    overflow: hidden;
}
#title{
    position: relative;
    width: 100%;
}